{{> layout/header }}

<div class="bg-white py-5">
    <div class="weapp-out-apply">
        <div class="weapp-outer-box-apply">
            <div class="weapp-h1-apply">
                홈 / 채용정보 / 팀스파르타(Team Sparta) / [내일배움캠프]
                온라인 튜터 (Unreal)
            </div>
            <div class="weapp-h2-apply">
                [내일배움캠프] 온라인 튜터 (Unreal)
            </div>
            <div class="weapp-h3-apply bg-primary">
                <div class="weapp-h3-1-apply">김세리</div>
                <div class="weapp-h3-2-apply">
                    <div class="weapp-h3-2-1-apply">➀</div>
                    <div class="weapp-h3-2-2-apply">이력서 선택 &nbsp;—</div>
                    <div class="weapp-h3-2-1-apply">➁</div>
                    <div class="weapp-h3-2-2-apply">기업요청정보</div>
                </div>
            </div>
            <form action="#" class="weapp-choice-apply">
                <div class="weapp-h4-apply">
                    <label>
                        <input type="radio" name="recru" checked/>
                        이력서1
                    </label>
                </div>
                <div class="weapp-h4-apply">
                    <label>
                        <input type="radio" name="recru"/>
                        이력서2
                    </label>
                </div>
                <div class="weapp-h4-apply">
                    <label>
                        <input type="radio" name="recru"/>
                        이력서3
                    </label>
                </div>
                <hr/>
                <div class="weapp-last-apply">
                    <button class="weapp-but2-apply btn btn-primary">
                        다음단계
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{{> layout/footer }}