{{> layout/header }}

<div class="bg-light py-5">
    <div class="weapp-container">
        {{#processDTOS}}
            <div class="weapp-out-appli-process">
                <div class="weapp-outer-box-appli-process">
                    <div class="weapp-t1-appli-process">입사지원 현황</div>
                    <div class="weapp-rb-appli-process">
                        <div class="form-check weapp-f2-appli-process">
                            <label class="form-check-label {{#isApplied}}fw-bold{{/isApplied}}" for="radio1">
                                <input
                                        type="radio"
                                        class="form-check-input"
                                        id="radio1"
                                        name="optradio"
                                        {{#isApplied}}checked{{/isApplied}} disabled
                                />
                                <div class="weapp-t2-appli-process">
                                    서류 접수
                                </div>
                            </label>
                        </div>
                        <div class="form-check weapp-f2-appli-process">
                            <label class="form-check-label {{#isReviewing}}fw-bold{{/isReviewing}}" for="radio2">
                                <input
                                        type="radio"
                                        class="form-check-input"
                                        id="radio2"
                                        name="optradio"
                                        {{#isReviewing}}checked{{/isReviewing}} disabled
                                />
                                <div class="weapp-t2-appli-process">
                                    서류 검토중
                                </div>
                            </label>
                        </div>
                        <div class="form-check weapp-f2-appli-process">
                            <label class="form-check-label {{#isPassed}}fw-bold{{/isPassed}}" for="radio3">
                                <input
                                        type="radio"
                                        class="form-check-input"
                                        id="radio3"
                                        name="optradio"
                                        {{#isPassed}}checked{{/isPassed}} disabled
                                />
                                <div class="weapp-t2-appli-process">서류 합격</div>
                            </label>
                        </div>
                        <div class="form-check weapp-f2-appli-process">
                            <label class="form-check-label {{#isRejected}}fw-bold{{/isRejected}}" for="radio3">
                                <input
                                        type="radio"
                                        class="form-check-input"
                                        id="radio3"
                                        name="optradio"
                                        {{#isRejected}}checked{{/isRejected}} disabled
                                />
                                <div class="weapp-t2-appli-process">탈락</div>
                            </label>
                        </div>
                    </div>

                    <div class="weapp-h3-appli-process">
                        <div class="weapp-h3-1-appli-process">
                            {{company.nameKr}} ({{company.nameEn}})
                        </div>
                        <div class="weapp-h3-2-appli-process">
                            <div>
                                <a href="/job/{{job.id}}"
                                   class="weapp-h3-2-2-appli-process text-white text-decoration-none fw-bold link-light link-underline-light link-opacity-75-hover">
                                    <i class="fa-solid fa-arrow-up-right-from-square">
                                    </i>
                                    {{job.title}} - {{job.careerLevel}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/processDTOS}}
    </div>
</div>

{{> layout/footer }}