{{> layout/header }}

<div class="bg-light py-5">
    <div class="container-xxl d-flex justify-content-center">
        <div class="row flex-grow-1 px-5">
            <div class="col-sm-3 p-4">
                <div class="d-flex gap-3 align-items-center py-4">
                    <div class="weapp-img-wrapper"><img src="/iamges/Screenshot_9.png" alt=""></div>
                    <div>
                        <div class="fw-bold fs-5">최재원</div>
                        <div>대표 @최</div>
                    </div>
                </div>
                <div class="bg-primary rounded p-3 text-white d-flex">
                    <div class="d-flex gap-3 align-items-center"><i class="fa-solid fa-bookmark"></i>
                        <span>채용공고 북마크</span></div>
                    <div class="ms-auto fs-5">1</div>
                </div>
            </div>
            <div class="col container mt-3">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <div class="nav-link active">북마크 1</div>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="container border my-3 p-3"><br>
                        <div class="border-bottom">
                            <div class="d-flex justify-content-between">
                                <h4>Flutter App 개발자</h4>
                                <a href="#">
                                    <div class="btn btn-primary">삭제</div>
                                </a>
                            </div>
                            <p>경력</p>
                            <p>모바일 앱 개발 - 안드로이드 - iOS-Flutter-Git</p>
                            <p>수시채용 04/15 수정</p>
                        </div>
                        <div class="py-2 d-flex gap-2 align-items-center">
                            <div class="weapp-img-wrapper"><img src="../../img/Screenshot_9.png" alt=""></div>
                            <div>제네시스네스트</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> layout/footer }}