{{> layout/header }}

<div class="py-5">
    <div class="weapp-reset-company-save">
        <div class="weapp-container-company-save">
            <div class="weapp-form-wrapper-company-save">
                <h2 class="weapp-form-title-company-save">기업 수정</h2>
                <hr/>
                <form action="/company/update" method="post" class="weapp-form-company-save">
                    <input type="hidden" name="id" value="{{model.id}}"/>

                    <label>한글 기업명</label>
                    <input type="text" name="nameKr" placeholder="한글 기업명 입력" value="{{model.nameKr}}"/>

                    <label>영문 기업명</label>
                    <input type="text" name="nameEn" placeholder="영문 기업명 입력" value="{{model.nameEn}}"/>

                    <label>한 줄 소개</label>
                    <input type="text" name="oneLineIntro" placeholder="한 줄 소개 입력" value="{{model.oneLineIntro}}"/>

                    <label>기업소개</label>
                    <input type="text" name="introduction" placeholder="예: 국내 최대 비즈니스 네트워크"
                           value="{{model.introduction}}"/>

                    <label>설립일</label>
                    <input type="date" name="startDate" placeholder="설립일 입력" value="{{model.startDate}}"/>

                    <label>사업자등록번호</label>
                    <input type="text" name="businessNumber" placeholder="숫자만 입력" value="{{model.businessNumber}}"/>

                    <label>기술 스택</label>
                    <div>
                        {{#model.techStacks}}
                            <label>
                                <input type="checkbox" name="techStack[]" value="{{name}}"
                                       {{#isChecked}}checked{{/isChecked}} />
                                {{name}}
                            </label>
                        {{/model.techStacks}}
                    </div>

                    <label>기업 공식 이메일</label>
                    <input type="email" name="email" placeholder="이메일 입력" value="{{model.email}}"/>

                    <label>문의 담당자</label>
                    <input type="text" name="contactManager" placeholder="담당자" value="{{model.contactManager}}"/>

                    <label>사무실</label>
                    <input type="text" name="address" placeholder="사무실 주소" value="{{model.address}}"/>

                    <label>산업 분야</label>
                    <div>
                        {{#model.workFields}}
                            <label>
                                <input type="radio" name="workFieldId" value="{{id}}"
                                       {{#isChecked}}checked{{/isChecked}} />
                                {{name}}
                            </label>
                        {{/model.workFields}}
                    </div>
                    
                    <div class="submit-btn-wrapper-company-save">
                        <button type="submit" class="weapp-submit-btn-company-save btn btn-primary">
                            수정 완료
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{> layout/footer }}
