<footer
        class="weapp-footer-height-100 weapp-flex-center border-top bg-white text-secondary text-center py-5"
>
    <div>
        <p class="mb-1 fw-bold fs-5">RocketDan</p>
        <p class="mb-0 text-muted">
            &copy; 2025. Double Ace Co.,Ltd. All rights reserved.
        </p>
    </div>
</footer>
</body>
</html>