{{> layout/header }}

<div class="bg-light py-5">
    <div class="container">
        <div class="row">
            <!-- 왼쪽 메뉴 -->
            <div class="col-md-3 mb-4" style="width: 20%">
                <div class="border rounded-3 bg-white p-3 shadow-sm">
                    <p class="fs-6 fw-bold mb-3">이력서 관리</p>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#"
                            >모든 이력서</a
                            >
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#"
                            >내 기본 이력서</a
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 오른쪽 내용 -->
            <div class="col-md-9">
                <p class="fs-6 fw-bold mb-3">모든 이력서</p>
                <!-- 흰 네모박스 -->
                <div
                        class="border rounded bg-white p-5 text-start"
                        style="height: auto"
                >
                    <!-- 샘플 1 -->
                    <div
                            class="list-group"
                            style="height: 50%; margin: 1rem"
                    >
                        <a
                                href="#"
                                class="list-group-item list-group-item-action"
                        >
                            <div
                                    class="d-flex"
                                    style="justify-content: space-between"
                            >
                                <div class="d-flex align-items-center">
                                    <div class="weapp-company">
                                        <div
                                                class="fs-5 fw-bold"
                                                style="margin: 1rem"
                                        >
                                            이력서2
                                        </div>
                                    </div>
                                </div>
                                <div
                                        class="weapp-date"
                                        style="padding: 1rem"
                                >
                                    2025.04.17. 16:59
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- 샘플 1 끝 -->
                    <!-- 샘플 2  -->
                    <div
                            class="list-group"
                            style="height: 50%; margin: 1rem"
                    >
                        <a
                                href="#"
                                class="list-group-item list-group-item-action"
                        >
                            <div
                                    class="d-flex"
                                    style="justify-content: space-between"
                            >
                                <div class="d-flex align-items-center">
                                    <div class="weapp-company">
                                        <div
                                                class="fs-5 fw-bold"
                                                style="margin: 1rem"
                                        >
                                            이력서1
                                        </div>
                                    </div>
                                </div>
                                <div
                                        class="weapp-date"
                                        style="padding: 1rem"
                                >
                                    2025.04.17. 16:59
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- 샘플 2 끝 -->
                </div>
                <!-- 흰 네모박스 -->
            </div>
        </div>
    </div>
</div>

{{> layout/footer }}