{{> layout/header }}

<div class="bg-light py-5">
    <div class="container" style="max-width: 50%">
        <div class="d-flex" style="justify-content: space-between">
            <!--1번은 제목이 들어감!-->
            <h3 class="mb-4 fw-bold">이력서 수정</h3>
            <div>
                <a
                        href="user-resume.html"
                        class="btn btn-outline-primary btn-sm"
                >수정 완료</a
                >
            </div>
        </div>

        <!-- 프로필 헤더 -->
        <div
                class="bg-white rounded p-4 shadow-sm mb-4 d-flex justify-content-between align-items-start"
        >
            <div class="mb-4">
                <h5 class="fw-bold mb-3">제목 수정</h5>
                <hr/>
                <div class="pt-4">
                            <span class="mb-0 text-muted"
                            >ssar1111@gmail.com</span
                            >
                    <span>|</span>
                    <span class="text-muted"
                    >등록된 전화번호가 없습니다.</span
                    >
                </div>
            </div>
        </div>
        <!-- 프로필 헤더 끝 -->
        <!-- 경력 -->
        <div class="bg-white rounded p-4 shadow-sm mb-4">
            <div>
                <h5 class="fw-bold mb-3">경력</h5>
                <hr/>
                <div class="d-flex align-items-center gap-3">
                    <!-- 신입 + 경력 옵션 선택 칸 시작 -->
                    <form action="/action_page.php">
                        <div class="form-check-inline">
                            <label
                                    class="form-check-label"
                                    for="radio1"
                            >
                                <input type="radio"
                                       class="form-check-input" id="newbie"
                                       name="optradio value=" option1" checked
                                />신입
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label
                                    class="form-check-label"
                                    for="radio2"
                            >
                                <input type="radio"
                                       class="form-check-input" id="old"
                                       name="optradio value=" option2" checked
                                />경력
                            </label>
                        </div>
                    </form>
                    <!-- 신입 + 경력 옵션 선택 칸 끝 -->
                    <!-- 연차 선택 칸 시작 -->
                    <div class="d-flex align-items-center">
                        <label for="year" class="form-label mb-0 me-2"
                        >연차 :</label
                        >
                        <select
                                class="form-select"
                                id="year"
                                name="company-year"
                                style="width: auto"
                        >
                            <option>연차를 선택해 주세요.</option>
                            <option>1년차</option>
                            <option>2년차</option>
                            <option>3년차</option>
                            <option>4년차 이상</option>
                        </select>
                    </div>
                    <!--연차 선택 칸 끝 -->
                </div>
            </div>
        </div>
        <!-- 학력 칸 -->
        <div class="bg-white rounded p-4 shadow-sm mb-4">
            <div>
                <h5 class="fw-bold mb-3">학력</h5>
                <hr/>
                <div class="d-flex align-items-center gap-3">
                    <!-- 학교 구분 입력 칸 시작 -->
                    <div class="align-items-center">
                        <label class="form-label mb-2">학교구분*</label>
                        <select
                                class="form-select"
                                id="year"
                                name="company-year"
                                style="width: auto"
                        >
                            <option>고등학교</option>
                            <option>대학교</option>
                        </select>
                    </div>
                    <!-- 학교 구분 입력 칸 끝 -->
                    <!-- 학교 이름 칸 시작 -->
                    <div class="align-items-center">
                        <label class="form-label mb-2">학교*</label>
                        <div class="input-group">
                            <input
                                    type="text"
                                    name="school-name"
                                    class="form-control"
                                    style=""
                                    placeholder="학교를 입력해 주세요."
                            />
                        </div>
                    </div>
                    <!-- 학교 이름 칸 끝 -->
                    <!-- 전공 선택 칸 시작 -->
                    <div class="align-items-center">
                        <label class="form-label mb-2">전공*</label>
                        <div class="input-group">
                            <input
                                    type="text"
                                    name="professional"
                                    class="form-control"
                                    placeholder="전공을 입력해 주세요."
                            />
                        </div>
                    </div>
                    <!-- 전공 선택 칸 끝 -->
                    <!-- 재학 기간 시작 -->
                    <div class="align-items-center">
                        <label class="mb-2">재학 기간*</label>
                        <div class="d-flex" style="align-items: center">
                            <div
                                    class="input-group"
                                    style="width: auto"
                            >
                                <input
                                        type="text"
                                        name="school-date"
                                        class="form-control"
                                        placeholder="yyyy-mm-dd"
                                />
                            </div>
                            <div class="px-3">-</div>
                            <div>
                                <input
                                        type="text"
                                        name="school-date2"
                                        class="form-control"
                                        placeholder="yyyy-mm-dd"
                                />
                            </div>
                        </div>
                    </div>
                    <!-- 재학 기간 끝 -->
                </div>
            </div>
        </div>

        <!-- 학력 칸 끝 -->
        <!-- 자격증 칸 -->
        <div class="bg-white rounded p-4 shadow-sm mb-4">
            <div>
                <h5 class="fw-bold mb-3">자격증</h5>
                <hr/>
                <div class="card m-1">
                    <div class="m-3 mb-1 text-muted">
                        <p class="fw-bold fs-6">정보처리기사</p>
                        <p class="fs-6">한국산업인력공단</p>
                        <p class="fs-6">2025.04.18 취득</p>
                    </div>
                </div>
                <hr/>
                <div class="input-group">
                    <input
                            type="text"
                            name="skill"
                            class="form-control"
                            placeholder="자격증을 입력하세요."
                    />
                </div>
            </div>
        </div>
        <!-- 자격증 칸 끝 -->
        <!-- 기술 스택 칸 시작 -->
        <div class="bg-white rounded p-4 shadow-sm mb-4">
            <div>
                <h5 class="fw-bold mb-3">기술 스택</h5>
                <hr/>

                <div class="d-flex align-items-center gap-3">
                    <div class="d-flex flex-wrap gap-2">
                                <span
                                        class="border rounded-pill px-3 py-1 text-muted"
                                >소프트웨어개발</span
                                >
                        <span
                                class="border rounded-pill px-3 py-1 text-muted"
                        >웹개발</span
                        >
                        <span
                                class="border rounded-pill px-3 py-1 text-muted"
                        >JavaScript</span
                        >
                    </div>
                </div>
                <hr/>
                <div class="input-group">
                    <input
                            type="text"
                            name="skill"
                            class="form-control"
                            placeholder="전문 분야를 입력하세요."
                    />
                </div>
            </div>
        </div>
        <!-- 기술 스택 칸 끝 -->
        <!-- 기본 정보 칸 시작 -->
        <div class="bg-white rounded p-4 shadow-sm mb-4">
            <h5 class="fw-bold mb-3">기본 정보</h5>
            <hr/>
            <div class="mb-2">
                <div class="fs-6 text-muted my-1">포트폴리오</div>
                <input
                        class="form-control"
                        placeholder="www.ssar.com/@ssar"
                />
            </div>

            <div class="mb-2">
                <div class="fs-6 text-muted my-1">
                    E-mail <i class="fas fa-lock"></i> 비공개
                </div>
                <input
                        class="form-control"
                        placeholder="ssar1111@nate.com"
                />
            </div>
            <div class="mb-2">
                <div class="fs-6 text-muted my-1">
                    전화 번호 <i class="fas fa-lock"></i> 비공개
                </div>
                <input
                        class="form-control"
                        placeholder="000-0000-0000"
                />
            </div>
        </div>
        <!-- 기본 정보 칸 끝 -->
    </div>
</div>

{{> layout/footer }}