.weapp-header-company-detail {
    /* background-image: url("https://static.rocketpunch.com/images/company/new_cover.jpg"); */
    background-size: cover;
    background-position: center;
    height: 160px;
}

/* 컴퍼니 소개 부분 */
.weapp-company-info-company-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -48px;
}

.weapp-company-logo-company-detail {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: white;
    padding: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
}

.weapp-company-logo-company-detail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.weapp-company-desc-company-detail {
    margin-top: 0px;
    font-size: 14px;
    color: #444;
}

/* 컨테이너 부분 */
.weapp-container-company-detail {
    max-width: 1320px;
    margin: 48px auto;
    padding: 0 20px;
}

.weapp-container-header-company-detail {
    color: black;
    text-align: center;
    margin-bottom: 48px;
}

.weapp-info-card-company-detail {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 24x;
    align-items: center;
    gap: 16px;
}

.weapp-info-card-company-detail img {
    width: auto;
    border-radius: 8px;
    display: flex;
}

.weapp-info-card-company-detail p {
    font-size: 16px;
    line-height: 1.6;
    position: relative;
    display: flex;
}

.weapp-tech-tags-company-detail {
    margin-bottom: 30px;
}

.weapp-tech-tags-company-detail span {
    background-color: white;
    border: 1px solid #ccc;
    color: #000;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    border-radius: 8px;
    font-weight: 500;
    width: fit-content;
    margin-right: 12px;
}

.weapp-company-info-box-company-detail {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 16px;
    max-width: auto;
    background-color: white;
}

.weapp-info-table-company-detail {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    color: #333;
}

.weapp-info-table-company-detail th {
    text-align: left;
    width: 150px;
    padding: 10px 0;
    color: #666;
    vertical-align: top;
}

.weapp-info-table-company-detail td {
    padding: 10px 0;
}

.weapp-link-company-detail {
    margin-left: 8px;
    color: #0d6efd;
    font-weight: 500;
    text-decoration: none;
}

.weapp-link-company-detail:hover {
    text-decoration: underline;
}

.weapp-icon-link-company-detail {
    margin-left: 8px;
    font-size: 16px;
    text-decoration: none;
}

.weapp-sell-company-detail {
    margin-bottom: 48px;
}