{{> layout/header }}

<div class="py-5">
    <div class="weapp-out-login">
        <div class="weapp-outer-box-login">
            <div>
                <img
                        src="https://static.rocketpunch.com/images/main/onboarding/woman.svg"
                        width="430"
                        height="388"
                        alt="Create illustration"
                />
            </div>
            <div class="weapp-login">
                <div class="weapp-tit-login">
                    <div class="weapp-t1-login">
                        일로 연결되는 사람들,<br/>
                    </div>
                    <div class="weapp-t2-login">로켓단</div>
                </div>
                <input
                        class="form-control"
                        type="email"
                        placeholder="이메일"
                        aria-label="default input example"
                />
                <input
                        class="form-control"
                        type="text"
                        placeholder="비밀번호"
                        aria-label="default input example"
                />
                <div class="form-check">
                    <div>
                        <input
                                class="form-check-input"
                                type="checkbox"
                                id="rememberMe"
                        />
                    </div>
                    <label
                            class="form-check-label weapp-t4-login"
                            for="rememberMe"
                    >
                        <div>로그인 상태 유지</div>
                    </label>
                </div>
                <button type="button" class="btn btn-primary">
                    로그인
                </button>
                <hr class="weapp-line-login"/>
                <div class="weapp-t3-login">
                    회원이 아니신가요?
                    <a href="/join-form" class="link-primary link">회원가입</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> layout/footer }}