{{> layout/header }}

<div class="bg-white py-5">
    <div class="weapp-out-job-detail">
        <div class="weapp-outer-box-job-detail">
            <div class="weapp-left-box-job-detail">
                <a href="#">
                    <div class="weapp-l-1-job-detail">
                        <div class="weapp-img2-job-detail">
                            <img
                                    src="/img/Screenshot_10.png"
                                    class="weapp-img2-1-job-detail"
                            />
                        </div>
                        <a href="/company/{{model.companyId}}">{{model.nameKr}} &gt;</a>

                    </div>
                </a>
                <div class="weapp-l-2-job-detail">
                    {{model.title}}
                </div>
                <div class="weapp-l-3-job-detail">
                    {{model.deadline}} 마감 | {{model.careerLevel}} | {{model.createdAt}} 등록
                </div>
                <div class="weapp-l-4-job-detail">주요업무</div>
                <div>
                    {{model.description}}
                </div>
            </div>
            <div class="weapp-sum-job-detail">
                <div class="weapp-right-box-job-detail">

                    <a href="/user/job/{{model.jobId}}/apply-form">
                        <div class="weapp-r-1-job-detail btn-primary btn">
                            지원하기
                        </div>
                    </a>

                    <div class="weapp-inner-box1-job-detail">
                        <div>마감</div>
                        <div>{{model.deadline}}</div>
                    </div>
                    <div class="weapp-inner-box1-job-detail">
                        <div>지역</div>
                        <div>{{model.location}}</div>
                    </div>
                    <div class="weapp-inner-box1-job-detail">
                        <div>고용형태</div>
                        <div>{{model.employmentType}}</div>
                    </div>
                    <div class="weapp-inner-box1-job-detail">
                        <div>경력</div>
                        <div>{{model.careerLevel}}</div>
                    </div>
                    <div class="weapp-inner-box1-job-detail">
                        <div>산업분야</div>
                        <div>{{model.workField}}</div>
                    </div>
                    <div class="weapp-inner-box1-job-detail">
                        <div>연봉</div>
                        <div>{{model.salaryRange.minSalary}} ~ {{model.salaryRange.maxSalary}}</div>
                    </div>

                    <div class="weapp-inner-box1-job-detail">
                        <div>근무지</div>
                        <div>{{model.location}}</div>
                    </div>

                    <div class="weapp-book-out-job-detail">
                        <!-- ajax 용 버튼 -->
                        <div class="weapp-book-job-detail">
                            <i class="fa-regular fa-bookmark"></i>
                            <div>공고 북마크</div>
                        </div>
                    </div>

                </div>


                <div>
                    <div class="weapp-r-recru-job-detail">채용 문의 담당자</div>
                </div>
                <div class="weapp-inner-box2-job-detail">
                    <div class="weapp-img1-job-detail">
                        <img src="user.webp" class="weapp-img1-1-job-detail"/>
                    </div>
                    <div>
                        <div>{{model.contactManager}}</div>
                        <div class="weapp-tuter-job-detail">{{model.nameKr}}</div>
                        <div class="weapp-tuter-job-detail">{{model.companyPhone}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> layout/footer }}