{{> layout/header }}

<div class="py-5 bg-light">
    <div class="weapp-container-job-list">
        <div class="weapp-main-wrapper-job-list">
            <div class="weapp-profile-grid-job-list">

                {{#models}}
                    <div class="weapp-profile-card-job-list">

                        <!-- 북마크 토글 버튼 -->
                        <form method="post" action="/job/{{id}}/bookmark" style="display:inline;">
                            <button type="submit" style="background:none; border:none;">
                                <i class="fas fa-bookmark weapp-bookmark-icon-job-list

                                    {{^isBookmarked}}weapp-bookmark-opacity-2{{/isBookmarked}}"></i>
                            </button>
                        </form>

                        <img src="https://image.rocketpunch.com/company/147791/realknowledge_logo_1658730532.png?s=100x100&t=inside"
                             class="weapp-company-logo-job-list"/>
                        <div class="weapp-company-name-job-list">
                            <a href="http://localhost:8080/job/{{id}}">{{title}}</a>
                        </div>
                        <div class="weapp-company-desc-job-list">{{nameKr}}</div>
                        <div class="weapp-location-job-list">{{careerLevel}}</div>
                    </div>
                {{/models}}

            </div>
        </div>

        <!-- 사이드바 -->
        <div class="weapp-sidebar-job-list">
            <a href="/user/bookmark" class="text-decoration-none text-dark">
                <div class="weapp-bookmark-wrapper-job-list">
                    <div class="weapp-bookmark-btn-job-list">
                        <i id="bookIcon" class="fas fa-bookmark"></i>
                        <span>채용공고 북마크</span>
                    </div>
                    <!-- 북마크 개수 동적 출력 -->
                    <div class="weapp-bookmark-count-job-list">{{bookmarkCount}}</div>
                </div>
            </a>

            <div class="weapp-search-box-job-list">
                <h3>기업 검색</h3>
                <div class="weapp-filters-job-list"></div>
                <input type="text" placeholder="검색어 입력"/>
            </div>
        </div>
    </div>

    <!-- 페이지네이션 -->
    <div class="weapp-pagination-job-list">
        <button class="weapp-active-job-list"><</button>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>...</button>
        <button>5</button>
        <button>></button>
    </div>
</div>

{{> layout/footer }}
