{{> layout/header }}

<div class="py-5">
    <div class="weapp-container-job-list">
        <div class="weapp-main-wrapper-job-list">
            <div class="weapp-profile-grid-job-list">

                {{#models}}
                    <div class="weapp-profile-card-job-list">
                        <i class="fas fa-bookmark weapp-bookmark-icon-job-list"></i>
                        <img src="#" class="weapp-company-logo-job-list"/>
                        <div class="weapp-company-name-job-list">
                            <a href="http://localhost:8080/job/{{id}}">{{title}}</a>
                        </div>
                        <div class="weapp-company-desc-job-list">{{nameKr}}</div>
                        <div class="weapp-location-job-list">{{careerLevel}}</div>
                    </div>
                {{/models}}


            </div>
        </div>

        <!-- 사이드바 -->
        <div class="weapp-sidebar-job-list">
            <div class="weapp-bookmark-wrapper-job-list">
                <div class="weapp-bookmark-btn-job-list">


                    <i id="bookIcon" class="fas fa-bookmark"
                    ></i>


                    <span>채용공고 북마크</span>
                </div>
                <div class="weapp-bookmark-count-job-list">0</div>
            </div>

            <div class="weapp-search-box-job-list">
                <h3>기업 검색</h3>
                <div class="weapp-filters-job-list"></div>
                <input type="text" placeholder="검색어 입력"/>
            </div>
        </div>
    </div>

    <!-- 페이지네이션 -->
    <div class="weapp-pagination-job-list">
        <button class="weapp-active-job-list"><</button>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>...</button>
        <button>5</button>
        <button>></button>
    </div>
</div>

{{> layout/footer }}