{{> layout/header }}

<div class="bg-light py-5">
    <div
            class="position-relative d-flex flex-column align-items-center py-4"
    >
        <button
                class="btn btn-primary position-absolute"
                style="
                        left: 60%;
                        transform: translateX(-50%);
                        margin-top: 10px;
                        padding: 10px 20px;
                        font-size: 16px;
                        z-index: 10;
                    "
        >
            제안 하기
        </button>

        <img
                src="https://image.rocketpunch.com/images/user/user.png?s=200x200&t=cover"
                alt="프로필 이미지"
                class="rounded-circle border border-3 shadow mb-3"
                style="width: 100px; height: 100px; object-fit: cover"
        />

        <div class="weapp-fw-semibold-person-detail fs-5">ssar</div>
    </div>

    <ul class="nav nav-tabs justify-content-center" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#정보"
            >정보</a
            >
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#게시물"
            >게시물</a
            >
        </li>
    </ul>

    <div id="정보" class="container tab-pane fade show active">
        <br/>
        <div
                class="weapp-whitebox-body-person-detail d-flex row justify-content-center"
        >
            <div class="card m-3 p-5 align-items-center w-100 gap-5">
                <div class="border-bottom w-100">
                    <h4 class="fw-bold mb-3">경력사항</h4>
                    <div class="d-flex" style="gap: 20px">
                        <div>
                            <img
                                    src="https://image.rocketpunch.com/images/user/user.png?s=200x200&t=cover"
                                    alt="프로필 이미지"
                                    class="mb-3"
                                    style="
                                            width: 100px;
                                            height: 100px;
                                            object-fit: cover;
                                        "
                            />
                        </div>
                        <div>
                            <p><strong>백엔드/웹 개발자</strong></p>
                            <p>뉴제이플러스</p>
                            <p>2022년 9월 - 2024년 1월 | 1년 5개월</p>
                        </div>
                    </div>
                </div>
                <div class="border-bottom w-100">
                    <div class="d-flex" style="gap: 20px">
                        <div>
                            <img
                                    src="https://image.rocketpunch.com/images/user/user.png?s=200x200&t=cover"
                                    alt="프로필 이미지"
                                    class="mb-3"
                                    style="
                                            width: 100px;
                                            height: 100px;
                                            object-fit: cover;
                                        "
                            />
                        </div>
                        <div>
                            <p><strong>백엔드/웹 개발자</strong></p>
                            <p>뉴제이플러스</p>
                            <p>2022년 9월 - 2024년 1월 | 1년 5개월</p>
                        </div>
                    </div>
                </div>
                <div class="border-bottom w-100">
                    <div class="d-flex" style="gap: 20px">
                        <div>
                            <img
                                    src="https://image.rocketpunch.com/images/user/user.png?s=200x200&t=cover"
                                    alt="프로필 이미지"
                                    class="mb-3"
                                    style="
                                            width: 100px;
                                            height: 100px;
                                            object-fit: cover;
                                        "
                            />
                        </div>
                        <div>
                            <p><strong>백엔드/웹 개발자</strong></p>
                            <p>뉴제이플러스</p>
                            <p>2022년 9월 - 2024년 1월 | 1년 5개월</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card m-3 p-5 align-items-center w-100 gap-5">
                <div class="border-bottom w-100">
                    <h4 class="fw-bold mb-3">학력사항</h4>
                    <div class="d-flex" style="gap: 20px">
                        <div>
                            <img
                                    src="https:media.rocketpunch.com/school/seoul-national-university.jpg"
                                    alt="프로필 이미지"
                                    class="mb-3"
                                    style="
                                            width: 100px;
                                            height: 100px;
                                            object-fit: cover;
                                        "
                            />
                        </div>
                        <div>
                            <p><strong>서울대학교</strong></p>
                            <p>컴퓨터공학과</p>
                            <p>2010년 3월 - 2013년 2월 | 조기졸업</p>
                        </div>
                    </div>
                </div>
                <div class="border-bottom w-100">
                    <div class="d-flex" style="gap: 20px">
                        <div>
                            <img
                                    src="https://image.rocketpunch.com/images/user/user.png?s=200x200&t=cover"
                                    alt="프로필 이미지"
                                    class="mb-3"
                                    style="
                                            width: 100px;
                                            height: 100px;
                                            object-fit: cover;
                                        "
                            />
                        </div>
                        <div>
                            <p><strong>백엔드/웹 개발자</strong></p>
                            <p>뉴제이플러스</p>
                            <p>2022년 9월 - 2024년 1월 | 1년 5개월</p>
                        </div>
                    </div>
                </div>
                <div class="border-bottom w-100">
                    <div class="d-flex" style="gap: 20px">
                        <div>
                            <img
                                    src="https://image.rocketpunch.com/images/user/user.png?s=200x200&t=cover"
                                    alt="프로필 이미지"
                                    class="mb-3"
                                    style="
                                            width: 100px;
                                            height: 100px;
                                            object-fit: cover;
                                        "
                            />
                        </div>
                        <div>
                            <p><strong>백엔드/웹 개발자</strong></p>
                            <p>뉴제이플러스</p>
                            <p>2022년 9월 - 2024년 1월 | 1년 5개월</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card m-3 p-5 align-items-center w-100 gap-5">
                <div class="border-bottom w-100">
                    <h4 class="fw-bold mb-3">자격증</h4>
                    <div class="" style="gap: 20px">
                        <div>
                            <p><strong>자격증 이름</strong></p>
                            <p>취득 기관</p>
                            <p>2010년 3월 취득</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="custom-card">
                <div class="weapp-sell-person-detail">
                    <div>
                        <h4 class="fw-bold mb-3">기술 스택</h4>
                    </div>
                    <div class="weapp-tech-tags-person-detail">
                        <span>Java</span>
                        <span>JavaScript</span>
                        <span>Spring</span>
                        <span>Linux</span>
                        <span>MATLAB</span>
                        <span>embedded</span>
                        <span>UI/UX 디자인</span>
                        <span>그래픽 드라이버</span>
                        <span>보안</span>
                        <span>딥러닝</span>
                        <span>분산 시스템</span>
                        <span>AI</span>
                        <span>클라우드</span>
                    </div>
                </div>
            </div>

            <div class="card m-3 p-5 align-items-center w-100 gap-5">
                <div class="weapp-basic-info-person-detail w-100">
                    <h4 class="fw-bold mb-3">기본 정보</h4>

                    <div class="mb-4">
                        <label class="fw-semibold mb-1 d-block"
                        >로켓펀치</label
                        >
                        <a
                                href="https://www.rocketpunch.com/@5660f0c582a542a0"
                                target="_blank"
                                class="text-primary text-decoration-underline"
                        >
                            www.rocketpunch.com/@5660f0c582a542a0
                        </a>
                    </div>

                    <div class="mb-4">
                        <div class="row mb-3">
                            <div class="col">
                                <strong>E-mail:</strong>
                                kk000624@naver.com
                                <span class="badge bg-secondary ms-2"
                                >비공개</span
                                >
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="row mb-3">
                            <div class="col">
                                <strong>전화번호:</strong> 010-1234-5678
                                <span class="badge bg-secondary ms-2"
                                >비공개</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> layout/footer }}